.motivasi {
    background-color: #31C6D4;
    color: white;
    font-size: 21px;
}

.kalender {
    background-color: #4649FF;
}

.form-check {
    padding-left: 2rem;
}

/* Form Mapel */
.wrapper {
    padding-left: 5%;
    padding-right: 5%;
}

.headForm,
.card-secondary {
    background-color: #31C6D4;
}

.cardCenter {
    margin-left: auto;
    margin-right: auto;
}

.form-group.two-div {
    width: 48%;
    padding-left: 0%;
    padding-right: 0%;
}

.form-control {
    border-radius: 0.9rem;
}

.row {
    padding-left: none;
    padding-right: none;
}

.row.two-div {
    justify-content: space-between !important;
    flex-wrap: nowrap;
    margin-left: 0%;
    margin-right: 0%;
}

.form-group.perihal {
    height: 10%;
}

.form-control.perihal {
    height: 6rem;
}

/* input[type="file"] {
    display: none;
} */

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.submit-btn {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.submit-btn:hover {
    box-shadow: #4ecd3597 0px 7px 29px 0px;
    background-color: #38ce3c;
    border: none;
    color: #ffffff;
}


/* .form-select {
    padding: 0.94rem 1.375rem;
} */

.img-account-profile {
    height: 10rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control,
.dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


#search {
    box-shadow: black 5px 5px 5px 5px;
}