.motivasi {
    background-color: #31C6D4;
    color: white;
    font-size: 21px;
}

.kalender {
    background-color: #4649FF;
}

/* Form Mapel */
.wrapper {
    padding-left: 5%;
    padding-right: 5%;
}

.headForm,
.card-secondary {
    background-color: #31C6D4;
}

.cardCenter {
    margin-left: auto;
    margin-right: auto;
}

.form-group.two-div {
    width: 48%;
    padding-left: 0%;
    padding-right: 0%;
}

.form-control {
    border-radius: 0.9rem;
}

.row {
    padding-left: none;
    padding-right: none;
}

.row.two-div {
    justify-content: space-between !important;
    flex-wrap: nowrap;
    margin-left: 0%;
    margin-right: 0%;
}

.form-group.perihal {
    height: 10%;
}

.form-control.perihal {
    height: 6rem;
}

/* input[type="file"] {
    display: none;
} */

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.submit-btn {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.submit-btn:hover {
    box-shadow: #4ecd3597 0px 7px 29px 0px;
    background-color: #38ce3c;
    border: none;
    color: #ffffff;
}


/* .form-select {
    padding: 0.94rem 1.375rem;
} */

.img-account-profile {
    height: 10rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control,
.dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


#search {
    box-shadow: black 5px 5px 5px 5px;
}

label {
    color: #3a3939;
}


/* Dasboard */
.bg {
    background-image: url('admin/images/auth/gambar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background: #060606;
    font-family: tahoma;
    color: #fff;
}

h1 {
    margin: 20px 5%;
    font-size: 60px;
    letter-spacing: 10px;
}

.jam-digital {
    width: 70%;
    margin: 10% 30%;
}

#jam span {
    float: left;
    text-align: center;
    font-size: 70px;
    margin: 0 2.5%;
    padding: 20px;
    width: 15%;
    border-radius: 10px;
    box-sizing: border-box;
}

#jam span:nth-child(1) {
    background: #a70c0c;
}

#jam span:nth-child(2) {
    background: #f6ab29;
}

#jam span:nth-child(3) {
    background: #298f19;
}

#jam::after {
    content: "";
    display: block;
    clear: both;
}

#unit span {
    float: left;
    width: 20%;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.7)
}

span.turn {
    animation: turn 0.7s ease;
}

@keyframes turn {
    0% {
        transform: rotateX(0deg)
    }

    100% {
        transform: rotateX(360deg)
    }
}

@media screen and (max-width: 980px) {
    #jam span {
        float: left;
        text-align: center;
        font-size: 50px;
        margin: 0 1.5%;
        padding: 20px;
        width: 20%;
    }

    h1 {
        margin: 20px 5%;
    }

    .jam-digital {
        width: 100%;
        margin: 10% 20%;
    }

    #unit span {
        width: 23%;
    }
}